@mixin rack-block-lazy-item { width: 1px; }
@mixin rack-block-greedy-item { /* Nothing */ }
@mixin rack-block-gap { content: " "; font-size: 0; }

@mixin rack-block {
  display: block;
  overflow: hidden;

  > div {
      display: table;
      width: 100%;

      > * {
        display: table-cell;
        vertical-align: middle;
      }

      > .lazy-item { @include rack-block-lazy-item; }
      > .greedy-item { @include rack-block-greedy-item; }
      > .gap:before { @include rack-block-gap }
    }
}

.rack-block { @include rack-block; }