// Debug styles
@mixin debug-outline { outline: 1px dashed white; }
@mixin debug-label($label) {
  &:before {
    content: $label;
    position: absolute;
    background: white;
    color: black;
    padding: 5px;
  }
}

// Smooth scrolling on iOS
@mixin scrollable-y {
  overflow-x: hidden; overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}