@mixin pane {
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
}

@mixin stack-pane-item { height: 1px; }
@mixin stack-pane-gap { /* Nothing */ }

@mixin stack-pane {
  @include pane;

  > div {
    display: table;
    width: 100%; height: 100%;

    > * {  display: table-row; }

    > .item { @include stack-pane-item; }
    > .gap > div { @include stack-pane-gap; }
  }
}